

#banner{
    background-image: url("../image/banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}
#butt1{
    position: absolute;
    top: .26rem;
    left: 6.12rem;
    width: 1.38rem;
    height: .46rem;
}


#font1{
    margin-top: .32rem;
    padding:0 .16rem;
    height: .86rem;
    border-top: 1px solid #ffe5f3;
    border-bottom: 1px solid #ffe5f3;
    color: #f6d9e3;
    font-size: .28rem;

}
#font1>#ts1{
    color: red;
    font-size: .24rem;
}



#hao::-webkit-input-placeholder{
    color:#f6d9e3 ;
}
/*价钱*/
#xuan{
    font-size: 0;
    margin: .46rem .2rem 0;
}
#xuan>label{
     border: 1px solid #ffe5f3;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     background: white;
     font-size: .32rem;
     height: 1.1rem;
     width: 1.68rem;
 }
#xuan> label.on {

    background: #fb9ac7;
    color: white;
    box-shadow: inset 0 -4px 0 rgba(223, 120, 172, 1);
}


#xin{
    width: .26rem;
    height: .23rem;

}
#money{
    width: 100%;
    color: white;
    background: transparent;
    text-align: center;
    display: none;
}
#zdy{
    font-size: .28rem;
    color: black;
}

#xuan>label#la1.on>#xin{
    display: block;
}
#xuan>label#la1>#xin{
    display: none;
}


#xuan>label#laz.on>#money{
    display: block;
}

#xuan>label#laz.on>#zdy{
    display: none;
}


#money{
    display: none;
}

/*支付选择*/
    /*1*/
.fu{
    font-size: 0;
    margin-top: .46rem;
    height: .88rem;
    border-top: 1px solid #ffe5f3;
    border-bottom: 1px solid #ffe5f3;
}
.icon2{
    width: .51rem;
    height: .43rem;
    margin: 0 .19rem 0 .25rem;
}
.icon2-1{
    font-size: .28rem;
    color: #353535;
}
.lab{
    width: 100vw;
}
#zhif{
    display: none;
}
.zhif-1{
    display: inline-block;
    width: .33rem;
    height: .33rem;
    border: 1px solid #ffe5f3;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    background: white;
    margin-right: .21rem;
}
#zhif:checked+.zhif-1{
    display: inline-block;
    width: .35rem;
    height: .3rem;
    border: none;
    background-image: url("../image/icon4.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
    /*1结束*/

    /*2*/
.fu2{
    font-size: 0;
    height: .88rem;
    border-bottom: 1px solid #ffe5f3;
}

#zhif2{
    display: none;
}

#zhif2:checked+.zhif-1{
    display: inline-block;
    width: .35rem;
    height: .3rem;
    border: none;
    background-image: url("../image/icon4.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
    /*2结束*/
    /*支付结束*/

/*支付按钮*/
#qr{
    overflow: visible;!important;
}
.but{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #fb9ac7;
    font-size: .3rem;
    width: 90vw;
    height: .88rem;
    color: white;
    box-shadow: inset 0 -4px 0 rgba(223,120,172,1);
    margin-top: .52rem;
}
.but:active{
    box-shadow: inset 0 0 0 rgba(232,120,172,1);
    -webkit-box-shadow: inset 0 0 0 rgba(232,120,172,1);
    transform: translateY(4px);

}
/*支付按钮结束*/

/*弹窗1*/
#tan{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 0;
    /*display: none;*/
}
#tan1{
    background: white;
    border-radius: 20px;
    width: 90vw;
    height: 70vh;
    /*padding: .46rem .45rem 0 .46rem;*/
}
.xian{
    width: 28vw;
    height: 0.02rem;

}
#t-font{
   font-size: .32rem;
    color: #f7699e;
    margin: 0 .16rem ;
}
#tan1-2{
    width: 80vw;
    /*margin-bottom: .6rem;*/
}
#t-font2{
    font-size: .26rem;
    color: #f7699e;
    list-style: none;
    line-height: .48rem;
    width: 75vw;
    margin: 3vh 0;
}
.t-but{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #fb9ac7;
    font-size: .3rem;
    width: 75vw;
    height: .88rem;
    color: white;
    box-shadow: inset 0 -4px 0 rgba(223,120,172,1);
    /*margin-top: .36rem;*/
}
.t-but:active{
    box-shadow: inset 0 0 0 rgba(232,120,172,1);
    -webkit-box-shadow: inset 0 0 0 rgba(232,120,172,1);
    transform: translateY(4px);}
#t-but1{
    overflow: visible;!important;
}
/*弹窗1结束*/

/*弹窗2*/
#tan2{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    position: absolute;
    z-index: 10;
    font-size: 0;
    /*display: none;*/
}
#tan2-1{
    background: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 90vw;
    height: 30vh;
}
#tan2-kuang{
    border: 1px solid #ffe5f3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 70vw;
    height: .88rem;
    padding-left: 2vw;
}
.tan2-font{
    font-size: .28rem;
    color: #f0bfd9;
}
.tan2-font2{
    font-size: .28rem;
    color: #f7699e;
    line-height: .36rem;
    margin-top: 2vh;
}
.tan2-but{
    width: 50vw;
    height: 1.2rem;
    font-size: .3rem;
    color: white;
    text-align: center;
}
.tan2-but1{
    background: #cbcbcb;
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
}
.tan2-but2{
    background: #fb9ac7;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
}
#tan2-1-1{
    height: 70vh;
    margin: 0 70vw;
    padding-top: .37rem;
}
#tan2but{
    width: 100vw;
    height: 30vh;
    /*display: none;*/
}
/*弹窗2结束*/



/*弹窗3*/
#tan3{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.3);
    position: absolute;
    z-index: 10;
    font-size: 0;
    /*display: none;*/
}
#tan3-1{
    background: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width:90vw;
    height: 25vh;
    padding-top: 5%;
}
#tan3-font{
    height: 50vh;
    font-size: .28rem;
    color: #f7699e;
    padding: 0 .65rem 0 .7rem;
    /*margin-bottom:.62rem;*/
}
#tan3but{
    width: 100vw;
    height: 50vh;
}
.tan3-but{
    width: 50vw;
    height: 1.2rem;
    font-size: .3rem;
    color: white;
    text-align: center;
}
.tan3-but1{
    background: #cbcbcb;
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
}
.tan3-but2{
    background: #fb9ac7;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
}







/*第二页*/
#ye2{
    font-size: 0;
}
#banner2{
    background-image:url("../image/banner2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;

}
#y2{
    background: #fef4f7;
    width: 7.07rem;
    height: 1.76rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: .25rem .34rem .28rem .24rem;
    margin-top: .3rem;
}
#y2-font{
    font-size: .28rem;
    color: #d16284;
}

#y2-1{
    border: 2px dashed #ec78aa;
    border-radius: 8px;
    -webkit-border-radius: 8px;;
    width: 7.10rem;
    height: .88rem;
    margin: .65rem 0 .58rem 0;
}
#y2-1-font{
    width: 4.82rem;
}
#y2-font2{
    font-size: .26rem;
    color: #d16284;
}
#ts1-2{
    color: red;
    font-size: .24rem;
}

/*第二页结束*/





/*第三页*/
#y3-ban{
    background-image: url("../image/banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    font-size: 0;
}
#y3-ban2{
    margin-top: .26rem;
    background-image: url("../image/banner3.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 4.81rem;
}
#er{
    height: 3.34rem;
    width: 3.34rem;
}
#y3-font{
    font-size: .28rem;
    color: #f7699e;
}
#y3-font2{
    font-size: .226rem;
    color: #f7699e;
    list-style: none;
    width: 7.01rem;

}
#y3-xian{
    width: 100vw;
    margin-bottom: .41rem;
}

.d-none{
    display: none;!important;
}






